* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 10px;
    background-color: rgb(211, 211, 211);
    margin-top: 30px;
}

.main-container {
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    height: fit-content;
    background-color: rgb(70, 64, 56);
    padding: 30px 15px;
    width: 100%;
}

.main-container h1 {
    font-size: 50px;
    color: white;
}

.input_area input {
    padding: 15px 20px;
    width: 100%;
    color: white;
    border-radius: 20px;
    border: none;
    text-align: left;
    outline: none;
    background-color: rgb(177, 173, 166);
}

.input_area {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.input_area .ADD {
    border: none;
    padding: 15px 20px;
    background-color: red;
    border-radius: 15px;
    background-color: rgb(177, 173, 166)
}

.main-container ul {
    list-style: none;
    margin-top: 40px;
    position: relative;
    left: 30px;
    width: 96%;
    display: flex;
    flex-direction: column;
}

.main-container ul li {
    margin-top: 4px;
    font-size: 1.5rem;
    color: white;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between; 
    text-decoration:none;

}

.main-container ul li button {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
}

.main-container li::before {
    content: '';
    left: -30px;
    height: 20px;
    position: absolute;
    width: 20px;
    border-radius: 50%;
    border: 2px solid white;
}

.main-container .checked::before {
    background-color: green;
    object-fit: cover;
    background-position: center;
}
.main-container .checked{
    text-decoration: line-through;
}